@import "tailwindcss";

@font-face {
  font-family: "Space Grotesk Bold";
  src: url("assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700;
}

:root {
  --font-primary: "Space Grotesk Bold";
  font-size: 16px;

  --line-height-bold-88: 88px;
  --letter-spacing-bold-88: -2.5px;

  --line-height-bold-48: 56px;
  --letter-spacing-bold-48: -1.5px;

  --line-height-bold-24: 32px;

  --line-height-medium-18: 28px;

  /* dark mode */
  --green: #4ee1a0;
  --stone: #3f3f3f; /* bg of project tech list */

  /* both modes */
  --black: #151515;
  --dark-gray: #242424;
  --gray: #d9d9d9;
  --white: #ffffff;

  /* light mode */
  --dark-orange: #ffc767;
  --orange: #fdd7ac;
  --warm: #fcf1db;
  --light: #f9f4e9;
}

* {
  /* outline: 1px solid rgb(200, 200, 200); */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  max-width: 100%;
  min-height: 100svh;
}
